    html {
        background-color: #afc4eb;
        background-image: url("https://images.unsplash.com/photo-1502679726485-931beda67f88?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    body {
        background-color: #ebf2ff;
        font-family: 'Poppins', sans-serif;
    }